body {
    margin: 0;
    font-family: Arial;
    background: lightblue;
}

.heading {
    text-align: center;
    color: white;
    padding: 15px;
    background: steelblue;
}

.main {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.form-box {
    background: white;
    padding: 15px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 3px 8px gray;
}

.form-box input,
.form-box select,
.form-box textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid gray;
}

.form-box button {
    width: 100%;
    padding: 8px;
    background: purple;
    color: white;
    border: none;
    border-radius: 4px;
}

.event-box {
    background: white;
    padding: 15px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 3px 8px gray;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.btn {
    flex: 1;
    padding: 6px;
    background: purple;
    color: white;
    border: none;
    border-radius: 4px;
}

.card {
    background: lightgray;
    padding: 10px;
    border-radius: 6px;
    width: 180px;
}

.tag {
    background: blue;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
}

.dom-box {
    background: white;
    margin: 20px auto;
    width: 700px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 8px gray;
}


